$main: #282952;

.flex-colo{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.drop{
    width: 100%;
    border-radius: 20px;
}
.upload{
padding: 3rem 0;
cursor: pointer;
}
.text-small{
    font-size: .7rem;
}
.icon{
    font-size: 4rem;
}
.canceled{
    color: red;
    cursor: pointer;
}
.uploadIcon{
    color:$main;
    font-size: 2.5rem;
    margin-bottom: 12px;
}
.barProgress{
    height: 25px;
}
.messageUpload{
    background-color: aliceblue;
    padding-top:10px;
    ul{
        list-style: none;
        li{
            margin-bottom: 5px;
            padding: 0;
            i{
                margin-right: 5px;
            }
        }
    }
}