th>div select {
  width: 11rem !important;
}

table {
  margin-bottom: 1em;
}

.columnMapping th {
  background-color: #F0F0F0;
  padding: .2rem;
}

.columnMappingActive th {
  background-color: #B0B0B0;
}