#newCompanyModal .modal-body{
	height: 28rem;
	width: 30rem;
	padding: 1rem 3rem 1rem 3rem;
	overflow-y: scroll;
}
#newCompanyModal .modal-dialog, .modal-content{
	justify-content: center !important;
}
#newCompanyModal th > div select{
	width: 11rem !important;
}
#newCompanyModal table{
	margin-bottom: 1em;
}